.sidebar {
    background-color: #2e2471;
    width: 230px;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
}

.sidebar img {
    display: block;
    margin: 0 auto 10px auto;
}

.sidebar h4 {
    text-align: center;
    margin-bottom: 5px;
}

.sidebar p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #1a1250;
}

.sidebar a.active {
    background-color: #1a1250;
}

.sidebar-logout {
    padding-top: 80%;
}

.sidebar-logout .logout-btn {
    display: block;
    background-color: #ff4d4f;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

.sidebar-logout .logout-btn:hover {
    background-color: #d9363e;
}
