<div class="mb-4 text-center">
    <img src="../../images/payback-logo.png" width="60" class="rounded-circle mb-2" alt="PayBach Logo">
    <h4 class="fw-bold">PayBach</h4>
    <p style="font-size: 12px;">We have your back 24/7.</p>

    <a href="../admin/admin_homepage.html">HOME</a>
    <a href="../admin/validate_item.html">VALIDATE</a>
    <a href="../admin/review_reports.html">REPORTS</a>
    <a href="metrics.html">METRICS</a>
    <a href="policies.html">POLICIES</a>

    <div class="sidebar-logout mt-auto">
        <a href="index.html" class="logout-btn">LOGOUT</a>
    </div>
</div>