<header class="header">
    <div class="header-top">
        <div class="logo-section">
            <img src="../../images/payback-logo.png" class="logo">
            <div class="logo-text">
                <h1>PayBach</h1>
                <p>We have your back 24/7.</p>
            </div>
        </div>

        <div class="header-icons">
            <a href="../client/chats.html">
                <img src="../../images/chat_bubble.png" class="icon"> Chats
            </a>

            <a href="../client/notifications.html">
                <img src="../../images/notif-bell.png" class="icon"> Notifications
            </a>

            <a href="../../../index.html" id="auth-link" class="profile-link">
                <img src="../../images/user-profile.png" class="icon">
                <span id="auth-text" class="profile-name">Log in / Sign up</span>
            </a>
            <button id="logout-btn" class="logout-btn" style="display:none;";>
                Logout
            </button>
        </div>
    </div>
</header>
