body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f3f6fb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
.header {
  background-color: #10006b;
  color: white;
  padding: 6px 20px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  border-radius: 50%;
}

.logo-text h1 {
  font-size: 22px;
  margin: 0;
}

.logo-text p {
  font-size: 13px;
  margin: 0;
  opacity: 0.9;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.header-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.header-icons a:hover {
  text-decoration: underline;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #b8b5c1;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
}

nav a.active {
  color: #10006b;
  border-bottom: 4px solid #ffde59;
  padding-bottom: 5px;
}