<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Item Details</title>
  <link rel="stylesheet" href="../../css/client/item_details.css">
  <link rel="stylesheet" href="../../css/client/homepage.css" />
<!-- LAYOUT CSS -->
</head>

<body>
    <!-- IMPORT HEADER -->
    <div id="header"></div>
    <!-- IMPORT NAVIGATION -->
    <div id="client-nav"></div>
  <main>
     <a href="javascript:history.back()" class="back-btn">← Go back</a>
    <!-- PAGE CONTENT -->
    <h2>Item Title</h2>
    <!-- Item Info -->
    <section class="description">
      <strong>Condition:</strong> <span></span>
      <p class="lorem">Description goes here.</p>
    </section>

    <!-- Categories -->
    <div id="item-tags"></div>

    <!-- Images -->
    <div class="main-image carousel">
      <button class="arrow left" aria-label="Previous image">
        ‹
      </button>
  
      <img src="" alt="Item Image">
  
      <button class="arrow right" aria-label="Next image">
        ›
      </button>
    </div>
    
    <div class="thumbnail-row"></div>

    <!-- Price & Details -->
    <div class="price-container">
      <p class="price"></p>
      <p>Meetup Location: <span id="meetup-location"></span></p>
      <p>Payment Method: <span id="payment-method"></span></p>
    </div>

    <!-- Seller Info -->
    <section class="meetup">
      <p>Seller Information:</p>
      <p></p>
    </section>

    <!-- Bid/Offer History -->
    <section class="bid-offers">
      <h3>Bid / Transaction History</h3>
      <div class="bid-offers-container"></div>
    </section>
  </main>
  <!-- IMPORT FOOTER -->
  <div id="footer"></div>

  <!-- SCRIPTS -->
  <script src="../../../controller/client/item_details.js"></script>
  <script src="../layout/load_layout.js"></script>
</body>
</html>
