<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PayBach | Notifications</title>
  <link rel="stylesheet" href="../../css/client/homepage.css" />
  <link rel="stylesheet" href="../../css/client/notifications.css" />
</head>
<body>
  <!-- HEADER -->
  <div id="header"></div>
  <!-- NAVIGATION -->
   <div id="client-nav"></div>

  <!-- MAIN CONTENT -->
  <main class="notifications-container">
    <div class="back-section">
      <a href="homepage.html" class="back-link">← Go back</a>
    </div>

    <div class="notifications-box">
      <h2>Notifications</h2>
      <div class="empty-notif">
        <img src="../../images/notif-icon.png" alt="No notifications" />
        <p>No new notifications at the moment.</p>
      </div>
    </div>
  </main>

<!-- FOOTER -->
<div id="footer"></div>

<!-- SCRIPTS -->
<script src="../../../controller/client/homepage.js"></script>
<script src="../../../controller/client/notification.js"></script>

<script src="../layout/load_layout.js"></script>
</body>
</html>