<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PayBach | Ongoing Trades</title>

  <!-- PAGE CSS -->
  <link rel="stylesheet" href="../../css/client/homepage.css" />
  <link rel="stylesheet" href="../../css/client/ongoing_bids.css" />

  <!-- LAYOUT CSS -->
   <link rel="stylesheet" href="../../css/layout/header.css">
   <link rel="stylesheet" href="../../css/layout/client_nav.css">
   <link rel="stylesheet" href="../../css/layout/footer.css">
</head>
<body>

    <!-- IMPORT HEADER -->
    <div id="header"></div>
    <!-- IMPORT NAVIGATION -->
    <div id="client-nav"></div>
    <!-- PAGE CONTENT -->
  <main class="bids-section">
    <h2>ONGOING TRADES</h2>
    <div class="bids-container"></div>
  </main>

  <!-- IMPORT FOOTER -->
  <div id="footer"></div>
    <!-- SCRIPTS -->
    <script src="../../controller/client/ongoing_bids.js"></script>
    <script src="../layout/load_layout.js"></script>
</body>
</html>
