<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PayBach | Categories</title>

  <!-- CSS -->
  <link rel="stylesheet" href="../../css/client/homepage.css" />
  <link rel="stylesheet" href="../../css/client/view_Categories.css" />
  <!-- LAYOUT CSS -->
  <link rel="stylesheet" href="../../css/layout/header.css">
  <link rel="stylesheet" href="../../css/layout/client_nav.css">
  <link rel="stylesheet" href="../../css/layout/footer.css">
</head>

<body>

  <!-- IMPORT HEADER -->
  <div id="header"></div>
  <!-- IMPORT NAVIGATION -->
  <div id="client-nav"></div>

  <!-- CATEGORIES SECTION -->
  <main class="categories-section">
    <div class="categories-container" id="view-categories"></div>
  </main>

  <!-- FOOTER -->
  <div id="footer"></div>

  <!-- SCRIPTS -->
   <script src="../../../controller/client/categories.js"></script>
   <script src="../layout/load_layout.js"></script>
</body>
</html>
